<a href="https://colab.research.google.com/github/nguyen084/MATH5670/blob/master/Group_005_assignment_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Hieu Nguyen
Date: 09/10/2019
Assignment 3: Gathering data using XML in Python

In [0]:
import urllib.request
import requests
from lxml import objectify,etree
import pandas as pd

Find all yield rate type

In [0]:
def GetTBill(df,yearlist,yieldtype):
  for year in yearlist: #Loop throught the list of year
    xml = urllib.request.urlopen('http://data.treasury.gov/feed.svc/DailyTreasuryYieldCurveRateData?$filter=year(NEW_DATE)%20eq%20{}'.format(year)).read()
    tree = etree.fromstring(xml)
    tree.xpath("//*")
    lists = list()
    for yp in yieldtype: #Loop through yield type
      tbill =tree.findall(".//{http://schemas.microsoft.com/ado/2007/08/dataservices}"+yp)
      lists.append(tbill)
    for i in range(len(lists[0])): #Loop though each index of list to get the value
      tmp = pd.DataFrame([[lists[0][i].text[:-9],lists[1][i].text,
                      lists[2][i].text,lists[3][i].text,lists[4][i].text,
                      lists[5][i].text,lists[6][i].text,lists[7][i].text,
                      lists[8][i].text,lists[9][i].text,lists[10][i].text,
                      lists[11][i].text]],columns=yieldtype)
      df = df.append(tmp,ignore_index=True)   
  return df
yieldtype = ['NEW_DATE','BC_1MONTH','BC_3MONTH','BC_6MONTH','BC_1YEAR','BC_2YEAR','BC_3YEAR','BC_5YEAR','BC_7YEAR','BC_10YEAR','BC_20YEAR','BC_30YEAR']
df = pd.DataFrame(columns=yieldtype)
yearlist = ['2010','2011','2012','2013','2014','2015','2016','2017','2018']
yieldvalue = GetTBill(df,yearlist,yieldtype)

In [0]:
yieldvalue.head()

     NEW_DATE             BC_1MONTH  ...           BC_20YEAR           BC_30YEAR
0  2010-02-22  0.059999998658895493  ...  4.5999999046325684  4.7300000190734863
1  2010-02-19  0.059999998658895493  ...  4.5799999237060547  4.7100000381469727
2  2010-02-23  0.079999998211860657  ...  4.4899997711181641   4.630000114440918
3  2010-02-25  0.090000003576278687  ...   4.440000057220459  4.5799999237060547
4  2010-02-24  0.079999998211860657  ...  4.4899997711181641   4.630000114440918

[5 rows x 12 columns]

In [0]:
yieldvalue.tail()

        NEW_DATE BC_1MONTH BC_3MONTH  ... BC_10YEAR BC_20YEAR BC_30YEAR
2248  2018-12-24      2.42      2.45  ...      2.74      2.88         3
2249  2018-12-26      2.41      2.44  ...      2.81      2.94      3.06
2250  2018-12-27      2.43      2.41  ...      2.77      2.92      3.05
2251  2018-12-28      2.39       2.4  ...      2.72      2.89      3.04
2252  2018-12-31      2.44      2.45  ...      2.69      2.87      3.02

[5 rows x 12 columns]

Save to excel file

In [0]:
yieldvalue.to_excel('Group_005_assignment_003.xlsx')

In [0]:
from google.colab import files
files.download('Group_005_assignment_003.xlsx')